/* * {
    outline: 1px solid red;
} */


.bg-primary{
    background-color: #07ab80 !important;
}
.text-primary{
    color: #07ab80 !important;
}

.my-header-bar-bottom{
    background-color: orange;
    min-height: 1rem;
}
.my-bg-img{
    background-image: url(./Assets/pumpkin_lg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 30rem;
    background-position: center;
}

.my-text-shadow{
    text-shadow: 2px 2px 2px black;
}

.my-box-shadow{
    box-shadow:0px .5px 5px black;
}

.my-icon-box-pos{
    bottom: -7rem;

}

.my-text-area{
    resize:none;
    
}
.my-pos-ab{
    position: absolute;
}

.my-line{
    border-left: #07ab80 solid 8px;
}

@media screen and (max-width: 1245px) {

.my-icon-box-pos{
    bottom:auto;

}
}

@media screen and (max-width: 991px) {

.my-icon-box-pos{
    position:static;
}
}