/* * {
    outline: 1px solid red;
} */
a{
    color:#07ab80 ;
}

.bg-primary{
    background-color: #07ab80 !important;
}

.bg-light{
    background-color:rgb(235, 235, 235) !important;
}

.text-primary{
    color: #07ab80 !important;
}

.my-header-bar-bottom{
    background-color: orange;
    min-height: 1rem;
}
.my-bg-img{
    background-image: url(./Assets/pumpkin_lg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 30rem;
    background-position: center;
}

.my-text-shadow{
    text-shadow: 2px 2px 2px black;
}



.my-box-shadow{
    box-shadow:-1px 3px 5px rgba(0, 0, 0, 0.431);
}

.my-icon-box-pos{
    bottom: -7.5rem;

}

.my-text-area{
    resize:none;
    
}
.my-pos-ab{
    position: absolute;
}

.my-line{
    border-left: #07ab80 solid 15px;
}

.my-padding{
    padding: 2rem;
}
.my-padding2{
    padding: 4rem;
}
@media screen and (max-width: 1505px) {

.my-icon-box-pos{
    bottom: -6rem;

}
}

@media screen and (max-width: 1293px) {

.my-icon-box-pos{
    bottom:auto;

}
}

@media screen and (max-width: 991px) {

.my-icon-box-pos{
    position:static;
}
}

@media screen and (max-width: 1104px) {

.my-change-flex{
    flex-direction: column;
}
.my-order{
    order: -1;
}

.my-padding{
    padding: .5rem;
}
.my-padding2{
    padding: .25rem;
}
}
